
<Label text="Details" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
<Label text="{{ activeMission.description }}" textWrap="true" class="m-15 h4 text-left" color="gray"></Label>
<FlexboxLayout *ngIf="activeMission.step === missionStep.Unaccepted" orientation="horizontal" justifyContent="space-between">
  <Button text="Reject" (tap)="onReject()" class="btn btn-secondary"></Button>
  <Button text="Start Casing" (tap)="onAccept()" class="btn btn-primary"></Button>>
</FlexboxLayout>
<Label text="Intel" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
<ScrollView backgroundColor="#e8e7e7">
  <FlexboxLayout flexDirection="column" class="mission-list" backgroundColor="#e8e7e7">
    <StackLayout *ngFor="let obstacle of  activeMission.obstacles; let i = index" id="obstacle{{i}}" orientation="vertical" class="mission-list-item" width="100%" (tap)="onTapObstacle(mission)">
      <ng-container *ngIf="!obstacle.isHidden">
        <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="mission-main-info" verticalAlignment="top">
          <Image row="0" col="0" [src]="obstacle.icon" class="mission-category-icon"></Image>
          <StackLayout row="0" col="1" orientation="vertical" class="mission-info-container">
            <Label class="mission-title" [text]="obstacle.name"></Label>
            <Label [text]="obstacle.description" textWrap="true"></Label>
          </StackLayout>
          <Label verticalAlignment="top" row="0" col="2" text="Level {{ obstacle.level ? obstacle.level : 1}}" class="pay-amount"></Label>
        </GridLayout>
        <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="mission-secondary-info">
          <Label row="0" col="0" [text]="obstacle.type" class="time-information"></Label>
          <GridLayout row="0" col="2" columns="auto, auto, auto" rows="auto">
            <Label row="0" col="0" text="" class="lender-name"></Label>
            <Label row="0" col="1" text=""></Label>
            <GridLayout row="0" col="2" columns="auto,auto,auto,auto" rows="auto" width="100%" class="debtor-list">
            </GridLayout>
          </GridLayout>
        </GridLayout>
      </ng-container>
      <ng-container *ngIf="obstacle.isHidden">
        <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="mission-main-info" verticalAlignment="top">
          <Image row="0" col="0" src="~/images/icons/unknown-obstacle.png" class="mission-category-icon"></Image>
          <StackLayout row="0" col="1" orientation="vertical" class="mission-info-container">
            <Label class="mission-title" text="Unknown"></Label>
            <Label text="Need more research." textWrap="true"></Label>
          </StackLayout>
          <Label verticalAlignment="top" row="0" col="2" text="Level {{ obstacle.level ? obstacle.level : 1}} | {{ obstacle.casedTime }}" class="pay-amount"></Label>
        </GridLayout>
        <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="mission-secondary-info">
          <Label row="0" col="0" text="Unknown" class="time-information"></Label>
          <GridLayout row="0" col="2" columns="auto, auto, auto" rows="auto">
            <Label row="0" col="0" text="" class="lender-name"></Label>
            <Label row="0" col="1" text=""></Label>
            <GridLayout row="0" col="2" columns="auto,auto,auto,auto" rows="auto" width="100%" class="debtor-list">
            </GridLayout>
          </GridLayout>
        </GridLayout>
      </ng-container>
      <Label class="divider" text=""></Label>
    </StackLayout>
  </FlexboxLayout>
</ScrollView>
