<Label text="Deploy" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
<speed-controls></speed-controls>
<Label text="Crew" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
<StackLayout *ngFor="let npc of activeMission.crew | keyvalue">
  <Label class="small-text" text="{{ npc.value.name }}"></Label>
  <Label class="small-text" text="HP:[{{ npc.value.nowHP }}] | Morale[{{ npc.value.morale }}] | Initiative[{{ npc.value.initiative}}]"></Label>
  <Label class="small-text" text="Evasion:[{{ npc.value.evasion }}] | Accuracy[{{ npc.value.accuracy }}]"></Label>
</StackLayout>
<FlexboxLayout *ngIf="isDeployable()" orientation="horizontal" justifyContent="space-between">
  <Button text="Deploy!" (tap)="onDeploy()" class="btn btn-outline"></Button>>
</FlexboxLayout>
<Label text="Heroes" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
<StackLayout *ngFor="let npc of activeMission.heroes | keyvalue">
  <Label class="small-text" text="{{ npc.value.name }}"></Label>
  <Label class="small-text" text="HP:[{{ npc.value.nowHP }}] | Morale[{{ npc.value.morale }}] | Initiative[{{ npc.value.initiative}}]"></Label>
  <Label class="small-text" text="Evasion:[{{ npc.value.evasion }}] | Accuracy[{{ npc.value.accuracy }}]"></Label>
</StackLayout>
<TextView *ngIf="activeMission.log?.length > 0" [text]="combatLog()" editable="false" class="input input-border"></TextView>

