<AbsoluteLayout width="100%", height="100%" backgroundColor="#e8e7e7">
  <StackLayout top="0" left="0" width="100%" height="100%">
    <ActionBar class="action-bar">
      <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
      <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
      <Label class="action-bar-title" text="Mission Board"></Label>
    </ActionBar>
    <FlexboxLayout justifyContent="flex-end" class="mission-list-filter">
      <FlexboxLayout justifyContent="flex-end" class="mission-list-filter-item">
        <Image class="mission-list-filter__icon" src="~/images/date-filter.png" verticalAlignment="middle"></Image>
        <Label class="mission-list-filter__text" text="All Time" verticalAlignment="middle"></Label>
      </FlexboxLayout>
      <FlexboxLayout justifyContent="flex-end" class="mission-list-filter-item">
        <Image class="mission-list-filter__icon" src="~/images/category-filter.png" verticalAlignment="middle"></Image>
        <Label class="mission-list-filter__text" text="All Category" verticalAlignment="middle"></Label>
      </FlexboxLayout>
    </FlexboxLayout>
    <ScrollView backgroundColor="#e8e7e7">
      <FlexboxLayout flexDirection="column" class="mission-list" backgroundColor="#e8e7e7">
        <StackLayout *ngFor="let mission of availableMissions$ | async; let i = index" id="item{{i}}" orientation="vertical" class="mission-list-item" width="100%" (tap)="onTapMission(mission)">
          <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="mission-main-info" verticalAlignment="top">
            <Image row="0" col="0" [src]="mission.icon" class="mission-category-icon"></Image>
            <StackLayout row="0" col="1" orientation="vertical" class="mission-info-container">
              <Label class="mission-title" [text]="mission.name"></Label>
              <Label [text]="mission.description" textWrap="true"></Label>
            </StackLayout>
            <Label verticalAlignment="top" row="0" col="2" text="{{ mission.rewards.experience }} XP" class="pay-amount"></Label>
          </GridLayout>
          <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="mission-secondary-info">
            <Label row="0" col="0" text="Yesterday" class="time-information"></Label>
            <GridLayout row="0" col="2" columns="auto, auto, auto" rows="auto">
              <Label row="0" col="0" text="" class="lender-name"></Label>
              <Label row="0" col="1" text=""></Label>
              <GridLayout row="0" col="2" columns="auto,auto,auto,auto" rows="auto" width="100%" class="debtor-list">
                <StackLayout *ngFor="let obstacle of mission.obstacles; let j = index" row="0" col="{{j}}" orientation="vertical" class="debtor-list-item">
                  <Image [src]="!obstacle.isHidden ? obstacle.icon : '~/images/icons/unknown-obstacle.png'" class="debtor-list-item-image"></Image>
                </StackLayout>
              </GridLayout>
            </GridLayout>
          </GridLayout>
          <Label class="divider" text=""></Label>
        </StackLayout>
      </FlexboxLayout>
    </ScrollView>
  </StackLayout>
</AbsoluteLayout>
