<Label text="Crew" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
<Label text="Test2" textWrap="true" class="m-15 h4 text-left" color="gray"></Label>
<Label text="Villain Directory" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
<ScrollView backgroundColor="#e8e7e7">
  <FlexboxLayout flexDirection="column" class="mission-list" backgroundColor="#e8e7e7">
    <StackLayout *ngFor="let villain of availableVillains$ | async; index as i" id="item{{i}}" orientation="vertical" class="mission-list-item" width="100%">
      <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="mission-main-info" verticalAlignment="top">
        <Image row="0" col="0" src="{{ villain.icon }}" class="mission-category-icon"></Image>
        <StackLayout row="0" col="1" orientation="vertical" class="mission-info-container">
          <Label class="mission-title" text="{{ villain.name }}"></Label>
          <Label text="{{ villain.description }}" textWrap="true"></Label>
          <Label text="HP: {{ villain.nowHP }}" textWrap="true"></Label>
          <Label text="NRG: {{ villain.nowNRG }}" textWrap="true"></Label>
          <Label text="Damage: {{ villain.minDamage }} - {{ villain.maxDamage }}" textWrap="true"></Label>
          <Label text="STR: {{ villain.STR }} | DEX: {{ villain.DEX }} | NRG: {{ villain.NRG }}" textWrap="true"></Label>
        </StackLayout>
        <Label verticalAlignment="top" row="0" col="2" text="Level {{ villain.level }}" class="pay-amount"></Label>
      </GridLayout>
      <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="mission-secondary-info">
        <Label row="0" col="0" text="{{ villain.baseStat }}" class="time-information"></Label>
        <GridLayout row="0" col="2" columns="auto, auto, auto" rows="auto">
          <Label row="0" col="0" text="" class="lender-name"></Label>
          <Label row="0" col="1" text=""></Label>
          <GridLayout row="0" col="2" columns="auto,auto,auto,auto" rows="auto" width="100%" class="debtor-list">
            <StackLayout *ngFor="let attribute of villain.attributes; let j = index" row="0" col="{{j}}" orientation="vertical" class="debtor-list-item">
              <Image src="{{ attribute.icon }}" class="debtor-list-item-image"></Image>
            </StackLayout>
          </GridLayout>
        </GridLayout>
      </GridLayout>
      <Label class="divider" text=""></Label>
    </StackLayout>
  </FlexboxLayout>
</ScrollView>
