<Label text="Crew" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
<Label text="Test2" textWrap="true" class="m-15 h4 text-left" color="gray"></Label>
<FlexboxLayout flexDirection="column" class="mission-list" backgroundColor="#e8e7e7">
  <StackLayout *ngFor="let villain of this.hiredVillains$ | async;" id="villain{{key}}" orientation="vertical" class="mission-list-item" width="100%">
    <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="mission-main-info" verticalAlignment="top">
      <Image row="0" col="0" src="{{ villain.icon }}" class="mission-category-icon"></Image>
      <StackLayout row="0" col="1" orientation="vertical" class="mission-info-container">
        <Label class="mission-title" text="{{ villain.name }} | L{{ villain.level }}"></Label>
        <Label text="{{ villain.description }}" textWrap="true"></Label>
        <Label text="HP: {{ villain.nowHP }}" textWrap="true"></Label>
        <Label text="Energy: {{ villain.nowNRG }}" textWrap="true"></Label>
        <Label text="Damage: {{ villain.minDamage }} - {{ villain.maxDamage }}" textWrap="true"></Label>
        <Label text="STR: {{ villain.STR }} | DEX: {{ villain.DEX }} | NRG: {{ villain.NRG }}" textWrap="true"></Label>
        <Label text="{{ villain.gear.weapon.name }}" *ngIf="villain.gear.weapon"></Label>
        <Label text="{{ villain.gear.offhand.name }}" *ngIf="villain.gear.offhand"></Label>
        <Label text="{{ villain.gear.helm.name }}" *ngIf="villain.gear.helm"></Label>
        <Label text="{{ villain.gear.chest.name }}" *ngIf="villain.gear.chest"></Label>
        <Label text="{{ villain.gear.leg.name }}" *ngIf="villain.gear.leg"></Label>
        <Label *ngFor="let trinket of villain.trinkets" text="{{ trinket.name }}"></Label>
      </StackLayout>
      <Button verticalAlignment="top" row="0" col="2" text="Fire" class="pay-amount" (tap)="fire(villain)"></Button>
    </GridLayout>
    <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="mission-secondary-info">
      <Label row="0" col="0" text="{{ villain.baseStat }}" class="time-information"></Label>
      <GridLayout row="0" col="2" columns="auto, auto, auto" rows="auto">
        <Label row="0" col="0" text="" class="lender-name"></Label>
        <Label row="0" col="1" text=""></Label>
        <GridLayout row="0" col="2" columns="auto,auto,auto,auto" rows="auto" width="100%" class="debtor-list">
          <Label text="{{ villain.attributes.join(',') }}"></Label>
        </GridLayout>
      </GridLayout>
    </GridLayout>
    <Label class="divider" text=""></Label>
  </StackLayout>
</FlexboxLayout>
<Label text="Villain Directory" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
<ScrollView backgroundColor="#e8e7e7">
  <FlexboxLayout flexDirection="column" class="mission-list" backgroundColor="#e8e7e7">
    <StackLayout *ngFor="let villain of availableVillains$ | async; index as i" id="item{{i}}" orientation="vertical" class="mission-list-item" width="100%">
      <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="mission-main-info" verticalAlignment="top">
        <Image row="0" col="0" src="{{ villain.icon }}" class="mission-category-icon"></Image>
        <StackLayout row="0" col="1" orientation="vertical" class="mission-info-container">
          <Label class="mission-title" text="{{ villain.name }} | L{{ villain.level }}"></Label>
          <Label text="{{ villain.description }}" textWrap="true"></Label>
          <Label text="HP: {{ villain.nowHP }}" textWrap="true"></Label>
          <Label text="Energy: {{ villain.nowNRG }}" textWrap="true"></Label>
          <Label text="Damage: {{ villain.minDamage }} - {{ villain.maxDamage }}" textWrap="true"></Label>
          <Label text="STR: {{ villain.STR }} | DEX: {{ villain.DEX }} | NRG: {{ villain.NRG }}" textWrap="true"></Label>
          <Label text="{{ villain.gear.weapon.name }}" *ngIf="villain.gear.weapon"></Label>
          <Label text="{{ villain.gear.offhand.name }}" *ngIf="villain.gear.offhand"></Label>
          <Label text="{{ villain.gear.helm.name }}" *ngIf="villain.gear.helm"></Label>
          <Label text="{{ villain.gear.chest.name }}" *ngIf="villain.gear.chest"></Label>
          <Label text="{{ villain.gear.leg.name }}" *ngIf="villain.gear.leg"></Label>
          <Label *ngFor="let trinket of villain.trinkets" text="{{ trinket.name }}"></Label>
        </StackLayout>
        <Button verticalAlignment="top" row="0" col="2" text="Hire" class="pay-amount" (tap)="hire(villain)"></Button>
      </GridLayout>
      <GridLayout columns="auto, *, auto" rows="auto" width="100%" height="auto" class="mission-secondary-info">
        <Label row="0" col="0" text="{{ villain.baseStat }}" class="time-information"></Label>
        <GridLayout row="0" col="2" columns="auto, auto, auto" rows="auto">
          <Label row="0" col="0" text="" class="lender-name"></Label>
          <Label row="0" col="1" text=""></Label>
          <GridLayout row="0" col="2" columns="auto,auto,auto,auto" rows="auto" width="100%" class="debtor-list">
            <Label text="{{ villain.attributes.join(',') }}"></Label>
          </GridLayout>
        </GridLayout>
      </GridLayout>
      <Label class="divider" text=""></Label>
    </StackLayout>
  </FlexboxLayout>
</ScrollView>
